


{% extends 'eligibility/base.html' %}
{% block title%}Eligibility{% endblock  %}

{% block search %}
<div class ="col-sm-4 col-sm-offset-4 ">
    <div class="container-fluid">
        <form class="form-inline" action="{% url 'eligibility:check_eligibility' %}" method="post">
            {% csrf_token %}

            {{ form.as_table}}
            <input type="submit" class="btn btn-default" onclick="$('#jumbotron').show() "/>


        </form>
    </div>
</div>
{% endblock %}
{% block jumbotron %}
<div class="col-sm-4 col-sm-offset-4">
    <div class="container-fluid">
        <div class="jumbotron">
           <h3 align="center">{{ message }}</h3>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}


            <div class ="col-sm-6 col-sm-offset-3">
                <div class="container-fluid">
                    <div>
                        <table class=" table table-striped table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>Employee ID:</th> <th>{{ client_details.employee_id }}</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>Full name:</td> <td>{{ client_details.employee_name }}</td>
                        </tr>
                        <tr>
                            <td>Age:</td> <td>{{ client_details.employee_age }}</td>
                        </tr>

                        <tr>
                            <td>Assignment Status:</td> <td>{{ client_details.employee_status }}</td>
                        </tr>
                        <tr>
                            <td>Gender:</td> <td>{{ client_details.employee_gender }}</td>
                        </tr>


                        <tr>
                            <td>Hire date:</td> <td>{{ client_details.employee_date }}</td>
                        </tr>

                        <tr>
                            <td>SSN:</td> <td>{{ client_details.employee_ssn }}</td>
                        </tr>

                        </table>
                    </div>
                </div>
            </div>


{% endblock %}






